button{ background-color: orange;
    background: rgb(232,207,7);
    
display: flex;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
padding: 15px;
transition: 1s;
&:hover {

    transform: rotate(360deg); translate: (-38px);
    
}
    
}


    



